

body {
    background-color:#555;
    color: black;
  }
  .ButtonStyle
  {
    background-color: grey;
    color: white;
    height: 40px;
    font-weight: normal;

  }
h5{
  color:#ff9800;
  font-weight: 600;
  font-size: 15pt;
}
